@font-face {
  font-family: "Gotham Black";
  src: url('fonts/Gotham-Font/Gotham-Black.otf') format(opentype);
  font-weight: normal;
  font-style: normal;
}

@keyframes fadeIn {
  from{opacity: 0;}
  to {opacity: 1;}
}

.fadeIn {
  animation: fadeIn 500ms forwards;
}

@keyframes fadeOut {
  from{opacity: 1;}
  to {opacity: 0;}
}

.fadeOut {
  animation: fadeOut 500ms forwards;
}



:root {
  height: 100vh;
  width: 100vw;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: black;
  transition: opacity 1s ease-in-out;
}

.background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.empty-div {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1000;
  background:black;
}

.logo-flex-container {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.logo-flex-container-empty {
  display:flex;
  flex: 1;
}

.logo-container {
  text-align: center;
  flex: 1;
  justify-content: center;
  align-content: center;
}

#logo-video {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  }

.container {
  display: flex;
  text-align: center;
  flex: 4;
}

.left, .right {
  display: flex;
  flex: 4;
}

main {
  flex: 3;
  justify-content: center;
  
}

.dino-list {
  list-style-type: none;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  font-family: "Gotham Black";
  text-shadow: 0 0 2px #fff;
  color: transparent;
  margin: 0;
}

.services-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-family: "Gotham Black";
  color: transparent;
  text-shadow: 0 0 2px #fff;
  margin: 5px 0 5px 0;
}

.year-plus-works-list{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-family: "Gotham Black";
  color: transparent;
  text-shadow: 0 0 2px #fff;
  margin: 0;
}

.year-plus-works-list li a {
  text-decoration: none;
  font-family: "Gotham Black";
  color: transparent;
  text-shadow: 0 0 2px #fff;
  
}

.year-plus-works-list li a:hover {
  text-shadow: 0 0 2px #dddbdb;
}

.nav-list {
  padding-top: 20px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.nav-list li a {
  text-decoration: none;
  font-family: "Gotham Black";
  color: transparent;
  text-shadow: 0 0 2px #fff;
}

.nav-list li a:hover {
  text-shadow: 0 0 2px #dddbdb;
}




#extra-space {
  height: 20vh;
  width: 100vw;
}







.video-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-container {
  height: 100vh;
  width: 100vw;
  align-content: center;
}

.video-content {
  width: 70vw;
  height: auto;
  display: flex;
  height: auto;
  margin: 0 auto;
  border: 1px solid white;
  position: relative;
  z-index: 1;
}

.no-border {
  border: none;
}








#footer {
  display: none;
  position: fixed;
  bottom: 0px;
  width: 100%;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

#footer p {
  flex: 1;
  text-align: center;
  color: transparent;
  text-shadow: 0 0 2px #fff;
  font-family: "Gotham Black";
  font-size: 10px;
}
