* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#page {
  display: flex;
  flex-direction: column;
  flex: 1;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
nav ul li {
  margin: 0 10px;
}
nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form {
  flex-basis: 35%;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

h3 {
  margin-top: 10px;
}

label {
  margin-top: 10px;
  display: block;
}

input[type="text"],
input[type="number"],
select,
input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="checkbox"],
input[type="radio"] {
  margin-top: 5px;
  margin-right: 5px;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.selection {
  display: flex;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: white;
}

#errors {
  color: red;
  font-size: 12px;
}
